<link rel="stylesheet" href="widgets/vis-shelly/css/style.css" />
<script type="text/javascript" src="widgets/vis-shelly/js/vis-shelly.js"></script>

<script
	id="tplVis-shellyShowValues"
	type="text/ejs"
	class="vis-tpl"
	data-vis-prev='<div id="prev_tplVis-shellyShowValues" style="position: relative; text-align: initial;padding: 4px "></div>'
	data-vis-attrs="title/text;titleImage/image;backcolor/color;textcolor/color;
                iUniversalValueCount[1]/number,1,30,1/updateUniversalDataFields();group.iUniversalValues/byindex;
                title(1-iUniversalValueCount)/text;
                oid(1-iUniversalValueCount)/id;
                unit(1-iUniversalValueCount)/text;
                icon(1-iUniversalValueCount)/image;
                seperator(1-iUniversalValueCount)/checkbox;
                oids1_(1-iUniversalValueCount)/id;
                units1_(1-iUniversalValueCount)/text;
                icons1_(1-iUniversalValueCount)/image;
                oids2_(1-iUniversalValueCount)/id;
                units2_(1-iUniversalValueCount)/text;
                icons2_(1-iUniversalValueCount)/image;
                subitemsHorizontal(1-iUniversalValueCount)/checkbox;
                "
	data-vis-set="vis-shelly"
	data-vis-type="val"
	data-vis-name="Show Ojbects"
>
	<div class="vis-widget <%== this.data.attr('class') %>" style="width:200px; height:210px;border-radius: 10px;box-shadow: 5px 5px 5px black;background-color:<%= this.data.backcolor %>;color:<%= this.data.textcolor %>;" id="<%= this.data.attr('wid') %>" >

	    <div class="vis-shelly-class vis-widget-body <%== this.data.attr('class') %>" style="padding:2px" >
	        <div class="vis-shelly-itemViewer-headDiv">
	            <span class="vis-shelly-itemViewer-headIcon"><%== (this.data.attr('titleImage'))?'<img src="' + this.data.titleImage + '" style="width:35px">':'';%></span>
	            <span class="vis-shelly-itemViewer-headTitle"><%= this.data.title %></span>
	        </div>
	        <div class="vis-shelly-itemViewer-item">
	            <% for(let i = 1; i <= this.data.iUniversalValueCount; i++){ %>
	                <% if(this.data['seperator'+i]==true){ %><hr><%} %>
	                <table style="width:100%;">
	                    <tr>
	                        <td rowspan="2" class="vis-shelly-itemViewer-itemIconHolder">
	                            <img src="<%= this.data["icon" + i] %>" class="vis-shelly-itemViewer-itemIcon">
	                        </td>
	                        <td class="vis-shelly-itemViewer-itemTitle">
	                            <%= this.data["title" + i] %>
	                        </td>
	                        <td class="vis-shelly-itemViewer-itemValue">
	                            <%== vis.states.attr(this.data["oid" + i]+".val") %>&nbsp;<%= this.data["unit" + i] %>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td class="vis-shelly-itemViewer-itemTimestamp">
	                            <%== vis.binds.basic.formatDate(vis.states.attr(this.data["oid" + i] + '.lc'), "", true) %>
	                        </td>
	                        <td class="vis-shelly-itemViewer-itemSubItem">
	                            <div class="<%== (this.data['subitemsHorizontal'+i]==true)?"vis-shelly-itemViewer-itemSubItemFlex":"vis-shelly-itemViewer-itemSubItemGrid";%>">
	                                <div><%== (this.data.attr('icons1_'+i))?'<img src="' + this.data['icons1_'+i] + '" style="width:15px">':'';%></div>
	                                <div>&nbsp;<%= vis.states.attr(this.data["oids1_" + i] + '.val') %>&nbsp;<%= this.data["units1_" + i] %></div>
	                                <div>
	                                    <%== (this.data.attr('oids1_'+i)&&this.data.attr('oids2_'+i)&&this.data['subitemsHorizontal'+i]==true)?" ,":"";%>
	                                    <%== (this.data.attr('icons2_'+i))?'<img src="' + this.data['icons2_'+i] + '" style="width:15px">':'';%></div>
	                                <div>&nbsp;<%= vis.states.attr(this.data["oids2_" + i] + '.val') %>&nbsp;<%= this.data["units2_" + i] %></div>
	                            </div>
	                        </td>

	                    </tr>
	                </table>
	            <% } %>
	        </div>
	    </div>
	</div>
</script>

<script
	id="tplVis-shellyCustomDeviceList"
	type="text/ejs"
	class="vis-tpl"
	data-vis-prev='<div id="prev_tplVis-shellyCustomDevices" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev "><img src="/vis/widgets/vis-shelly/images/editor/customDeviceList.png" style="width:100%"></div>'
	data-vis-attrs="display[block]/nselect,block,flex;deviceWidth;lastChange/hidden;"
	data-vis-attrs0="iUniversalDeviceCount[1]/number,1,99,1;group.iUniversalDeviceValues/byindex;"
	data-vis-attrs1="deviceID(1-iUniversalDeviceCount)/custom,vis-shelly.visEditor_customDevices_getDeviceSelect;
					deviceType(1-iUniversalDeviceCount)/custom,vis-shelly.visEditor_customDevices_getTypeSelect;"
	data-vis-attrs2="deviceRelayNumber(1-iUniversalDeviceCount)[0]/number,0,2,1;"
	data-vis-set="vis-shelly"
	data-vis-type="CustomDeviceList"
	data-vis-name="CustomDeviceList"
>
	<div class="vis-widget <%== this.data.attr('class') %>" style="background-color:darkgray; overflow-y:scroll; min-width: 150px; min-height: 50px" id="<%= this.data.attr('wid') %>">
	    <% vis.binds['vis-shelly'].createWidget.customDevices(this.data.wid, this.view, this.data, this.style);%>
	</div>
</script>

<script
	id="tplVis-shellyRoomDevices"
	type="text/ejs"
	class="vis-tpl"
	data-vis-prev='<div id="prev_tplVis-shellyRoomDevices" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev "><img src="/vis/widgets/vis-shelly/images/editor/deviceByRoom.png" style="width:100%"></div>'
	data-vis-attrs="roomid/custom,vis-shelly.visEditor_roomDevices_getRoomSelect;"
	data-vis-attrs0="display[block]/nselect,block,flex;deviceWidth;"
	data-vis-set="vis-shelly"
	data-vis-type="RoomDevices"
	data-vis-name="RoomDevices"
>
	<div class="vis-widget <%== this.data.attr('class') %>" style="background-color:darkgray; overflow-y:scroll; min-width: 150px; min-height: 50px" id="<%= this.data.attr('wid') %>">
	    <% vis.binds['vis-shelly'].createWidget.roomDevices(this.data.wid, this.view, this.data, this.style);%>
	</div>
</script>

<script
	id="tplVis-shellyAllDevices"
	type="text/ejs"
	class="vis-tpl"
	data-vis-prev='<div id="prev_tplVis-shellyAllDevices" style="position: relative; text-align: initial;padding: 4px "><div class="vis-widget_prev "><img src="/vis/widgets/vis-shelly/images/editor/allDevices.png" style="width:100%"></div>'
	data-vis-attrs=""
	data-vis-attrs0="display[block]/nselect,block,flex;deviceWidth;"
	data-vis-set="vis-shelly"
	data-vis-type="AllDevices"
	data-vis-name="AllDevices"
>
	<div class="vis-widget <%== this.data.attr('class') %>" style="background-color:darkgray; overflow-y:scroll; min-width: 150px; min-height: 50px" id="<%= this.data.attr('wid') %>">
	    <% vis.binds['vis-shelly'].createWidget.allDevices(this.data.wid, this.view, this.data, this.style);%>


	</div>
</script>
